body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    color:#2d3c49;
}

.featured-work {
    color: #7d97ad;
    font-weight: 600;
}

img, embed, object, video {
    max-width: 100%;
}

img {
    border-radius: 5px;
}

.logo {
    max-width: 125px;
    max-height: 125px;
    padding-top: 10px;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
}

hr {
    margin-top: 7px;
    *margin: 0;
    border: 0;
    color: #7d97ad;
    background-color: #7d97ad;
    height: 4px;
}
.reference {
    font-size: 10px;
}

@media (max-width: 768px) {
    .logo {
        max-width: 80px;
        max-height: 80px;
    }
    .name {
        font-size: 24px;
    }
    .title {
        font-size: 16px;
    }
}